---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  14px;
$base-line-height: 160%;

$spacing-unit:     16px;

$text-color:            #666666;
$text-color-light:      #888888;

$text-color-w:          #FFF;
$text-color-w-light:    #ccc;


$background-color:      #FFFFFF;
$background-color-dark: #F1F1F1;

$border-color:          #D3D3D3; //#E0E0E0;
$border-color-dark:     #c0c0c0;
$brand-color:           #2a7ae2;

$accent-color:          #00BFA5;
$accent-color-red:      #f03950;
$primary-color:         #2A5252;


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1080px;
$grid: 8px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "article",
        "base",
        "button",
        "layout",
        "header",
        "footer",
        "top",
        "install",
        "usage",
        "syntax-highlighting"
;
