@import "../../colors.less";
@import "../../sizes.less";

.account-view {
  .balance, .changes-from-previous-day {
    text-align: right;
  }
  .balance {
    color: @font-color-normal;
    font-size: @font-size-xlarge;
  }
  .changes-from-previous-day {
    color: @font-color-light;
    margin-top: @grid;
    font-size:  @font-size-normal;

    .label, .price {
      padding-right: @grid;
    }

    .icon {
      font-size: 20px;
      padding-left: @grid;
    }

    .md-trending-up {
      color: @positive-color
    }
    .md-trending-down {
      color: @nagative-color
    }
  }
}
