<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="/">Jijiについて</a></li>
          <li><a href="/install">インストール</a></li>
          <li><a href="/usage">使い方</a></li>
          <li><a href="https://github.com/unageanu/jiji2/issues">サポート・フォーラム</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li><a href="/terms">利用規約</a></li>
          <li><a href="/legal">特定商取引法に基づく表記</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
      </div>
    </div>

    <div class="right">
      © Jiji All Rights Reserved.
    </div>
  </div>

</footer>
