<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="/">Jijiについて</a></li>
          <li><a href="/install">インストール</a></li>
          <li><a href="/usage">使い方</a></li>
          <li><a href="/support">サポート</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li><a href="/terms">利用規約</a></li>
          <li><a href="/legal">特定商取引法に基づく表記</a></li>
          <li><a href="/support">お問い合わせ</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        最新情報はTwitterで
        <a class="twitter-timeline" href="https://twitter.com/jiji_platform" data-widget-id="667312785248792576">@jiji_platformさんのツイート</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </div>
    </div>


    <div class="right">
      © Jiji All Rights Reserved.

      <span class="share-buttons">
        <span class="fb-share-button" data-href="http://jiji2.unageanu.net" data-layout="button_count"></span>
        <span>
          <a href="https://twitter.com/share" class="twitter-share-button"{count} data-via="jiji_platform">Tweet</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </span>
        <span>
          <a href="http://b.hatena.ne.jp/entry/http://jiji2.unageanu.net" class="hatena-bookmark-button" data-hatena-bookmark-title="無料で使えるFXシステムトレードフレームワーク「Jiji」" data-hatena-bookmark-layout="simple-balloon" title="このエントリーをはてなブックマークに追加"><img src="https://b.st-hatena.com/images/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
        </span>
      </span>
    </div>
  </div>

</footer>
