
$nav-width: 350px;

article.post {

  margin-top: $grid*6;
  margin-bottom: $grid*6;
  display: flex;

  nav {
    width: $nav-width;

    h2 {
      margin-top: 0px;
      margin-bottom: $grid*2;

      a {
        text-decoration: none;
        color: $accent-color;
        font-size: 20px;
      }
    }

    ul {
      margin-left: 0px;
      list-style: none;

      li {
        margin-top: $grid*2;
        padding: $grid $grid*2 $grid $grid*2;
        font-size: 18px;
      }

      li.selected {
        background-color: $background-color-dark;

        a {
          color: $accent-color;
        }
      }
      li.lv2 {
        margin-top: 0px;
        padding: $grid/2 $grid*2 $grid/2 $grid*5;
        font-size: $base-font-size;
      }
    }
  }
  .contents {
    width: $content-width - $nav-width - $grid*3;
    margin-left: $grid*3;
  }


  h1 {
    font-size: 28px;
    color: $accent-color;
    margin-bottom: $grid*4;
  }

  h2 {
    color: $accent-color;
    font-size: 24px;
    margin-top: $grid*8;
  }

  h3 {
    color: $accent-color;
    font-size: 20px;
    margin-top: $grid*8;
  }

  .contents {}

  p {
    margin: $grid*2 0px;
  }

  ol, ul {
    margin-left: $grid*8;
  }

  pre {
    margin-left: $grid*5;
  }
  .indent {
    margin-left: $grid*5;
  }
  .no_indent {
    margin-left: 0 !important;
  }

  img {
    margin: $grid 0px;
    display: block;
    background-color: $background-color-w;
    border: 1px solid $border-color-dark;
    padding: 1px;
    line-height: 0px;
  }

  p.step {
    margin-top: $grid*7;
    font-size: 18px;
  }

  .notice {
    margin: $grid*4 0px $grid*4 $grid*5;
    border: 1px dotted $text-color-light;
    padding: $grid*2;
    font-size: $small-font-size;
    color: $text-color-light;

    b {
      color: $text-color;
    }
  }

  .warn {
    margin: $grid*4 0px $grid*4 $grid*5;
    border: 1px dotted $accent-color-red;
    padding: $grid*2;
    font-size: $small-font-size;
    color: $text-color;

    b {
      color: $accent-color-red;
    }
  }

  .accent {
    font-size: $small-font-size;
    color: $accent-color-red;
    margin-left: $grid;
    font-weight: normal;
  }

  .next {
    margin: $grid*8 0px;

    a {
      min-width: 150px;
      display:inline-block;
      cursor: pointer;
      text-decoration: none;;
      background-color: $accent-color;
      color: $text-color-w;
      padding: 12px $grid*6;
      text-align: center;
      border-radius: 4px;
    }

    a:hover {
      color: $text-color-w;
      text-decoration: none;
      background-color: lighten($accent-color, 5%);
    }
  }

  table {
    margin-left: $grid*5;
    border-collapse: collapse;
    border: 1px solid $border-color;
    font-size: $small-font-size;

    th, td {
      border: 1px solid $border-color;
      padding: 4px;
    }

    th {
      background-color: $accent-color;
      color: $text-color-w;
    }

    tr:nth-child(odd) {
      background-color: $background-color-dark;
    }

    .center {
      text-align: center;
    }
    .pre, .code {
      font-size: $small-font-size;
    }
    ul {
      margin: $grid*2 0px $grid*2 $grid*2;
      list-style: none;
    }
  }

  @include media-query($on-palm) {
    display: block;
    margin-top: $grid*3;
    margin-bottom: $grid*3;

    nav {
      width: auto;
      background-color: $background-color-dark;
      padding: $grid;

      ul {
        margin-left: 0px;
        list-style: none;

        li {
          padding: $grid/2 $grid*2;
        }
      }
    }
    .contents {
      width: auto;
      margin: $grid*4 $grid;
    }

    ol, ul {
      margin-left: $grid*4;
    }

    pre {
      margin-left: $grid*1;
    }

    .notice {
      margin: $grid*3 0px $grid*3 $grid;
    }

    .warn {
      margin: $grid*3 0px $grid*3 $grid;
    }
    table {
      margin-left: 0px;
    }
  }
}
