

/**
 * Site footer
 */
.site-footer {
    background-color: #85858a;
    color: #EEE;
    padding: $grid*5 0 $grid*3 0px;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list {
    list-style: none;
    margin-left: 0;
    font-size: $small-font-size;
    line-height: 190%;

    a {
      color: #EEE;
    }
}

.footer-col-wrapper {
  display: flex;
}

.footer-col {
  flex-grow: 1;
}

.footer-col-1, .footer-col-2 {
  width: 23%;
  margin-right: 2%;
}


.footer-col-3 {
  width: 50%;

  .text {
    margin-bottom: $grid;
  }
}

@include media-query($on-laptop) {
  .footer-col-wrapper {
    display: block;
    .footer-col-1, .footer-col-2, .footer-col-3{
      width: auto;
      margin-right: 0px;
    }

    .footer-col-3 {
      .text {
        margin-top: $grid*3;
      }
    }
  }
  .right {
    margin-bottom: $grid;
  }
}

.right {
  margin-top: $grid *3;
  color: #ddd;

  .share-buttons {
    float: right;
    span.fb-share-button span {
      vertical-align: baseline !important;
    }
  }

}
