/**
 * Site header
 */
.site-header {
  position: relative;
  background-color: rgba(darken($primary-color, 5%), 0.95);
  padding: $grid/2 0px;
  box-shadow: 0 5px 5px rgba(0,0,0,.1);

  .site-title {
  }

  .logo {
    width: 190px;
    height: 90px;
  }

  .menu-icon {
    display: none;
  }

  .site-nav {
    float: right;
    line-height: 90px;

    .page-link {
      color: $text-color-w;
      line-height: $base-line-height;
    }
    .spacer {
      color: $text-color-w;;
      margin: 0px $grid;

      &::after {
        content: "|"
      }
    }
  }

  @include media-query($on-palm) {

    .logo {
      width: 95px;
      height: 45px;
    }
    .site-nav {
      line-height: 45px;
      font-size: $small-font-size;

      .spacer {
        margin: 0px $grid/2;
      }
    }
  }

}
