
div.link_to_oanda {
  margin: $grid*4 0px;
  img {
    margin: 0px;
    border: 0px;
    padding: 0px;
  }
  .large {
    display: block;
  }
  .small {
    display: none;
  }
  @include media-query($on-palm) {
    .large {
      display: none;
    }
    .small {
      display: block;
    }
  }
}

article.post {
  .install_to_server {

    table.comparison {
      td {
        width: 30%;
        vertical-align: top;
        font-size: $small-font-size;
        padding: $grid;
        line-height: 140%;
        .rank {
          font-size: 24px;
          padding: $grid;
          text-align:center;
        }
        .rank.good {
          font-size: 26px;
          color: #FF9933;
        }
        .rank.very_good {
          font-size: 34px;
          color: #FF6633;
        }
      }
      td:nth-child(1) {
        width: 10%;
        font-weight: bold;
        text-align:center;
        vertical-align: middle;
      }
    }

    .install_type {
      font-size: 18px;
      font-weight:bold;
      margin: $grid*8 0px $grid*2;
    }

    .next {
      margin-left: $grid*5;
      margin-top: $grid*3;
    }
  }

  .install_server_to_heroku {
    .deploy_to_heroku {
      border: 0px;
      padding: 0px;
      width: 300px;
    }
  }

  .initial_setting {
    img {
      margin-left: $grid*5;
    }
  }

  .install_app {

    b {
      color: $accent-color;
    }

    .push {
      background-color: $background-color-dark;
      padding: $grid*3;
      margin: $grid*5 0px;

      h2 {
        font-size: 20px;
        margin: 0px 0px $grid*3 0px;
      }

      .boxes {
        display: flex;
        flex-direction: row;
        align-items: stretch;
      }
      .box {
        width: 48%;
        flex-grow: 1;

        h3 {
          font-size: 18px;
          font-weight: bold;
          margin: 0px;
        }
        div {
          font-size: $small-font-size;
        }
      }
      .box:nth-child(1) {
        margin-right: 4%;
      }
    }

    .android_badge {
      margin-bottom: $grid*8;
      img {
        border: 0px;
        padding: 0px;
        width: 250px;
      }
    }

    .info {
      font-size: $small-font-size;
      color: $text-color-light;
    }
  }

  @include media-query($on-palm) {
    .install_to_server {
      .next {
        margin-left: $grid;
      }
    }
    .initial_setting {
      img {
        margin-left: 0;
      }
    }
    .install_app {
      .push {
        .boxes {
          display: block;
        }
        .box {
          width: auto;
        }
        .box:nth-child(1) {
          margin-right: 0px;
          margin-bottom: $grid*3;
        }
      }
    }
  }
}
