

article.page {

  margin-top: $grid*6;
  margin-bottom: $grid*6;

  h1 {
    font-size: 28px;
    color: $accent-color;
    margin-top: $grid*6;
  }

  table.legal {
    margin-top: $grid*3;
    border-collapse: collapse;
    border: 1px solid $border-color;
    font-size: $small-font-size;

    th, td {
      border: 1px solid $border-color;
      padding: 8px;
    }

    th {
      background-color: $accent-color;
      color: #FFF;
    }

    td:nth-child(odd) {
      background-color: $background-color-dark;
    }
  }
}

article.page.terms {
  font-size: $small-font-size;

  h2 {
    font-size: 24px;
    margin-top: $grid*4;
  }
  ul, ol {
    margin-top: $grid;
    margin-bottom: $grid;
  }

  .history {
    margin: $grid*4 0px;
  }
}
