
.top {
  section {
    clear: both;
  }

  .site-header {
    position: absolute;
    background-color: rgba(0,0,0,0);
    box-shadow: none;
  }

  p.notice {
    margin: $grid*6 0 0 0;
    border: 1px dotted $border-color-dark;
    padding: $grid*2;
    font-size: $small-font-size;

    b {
      color: $text-color-w;
    }
  }

  .first-hook {
    color: $text-color-w;
    background-color: $primary-color;
    padding-top: $grid*24;

    background-image: url(/images/top/top-image2.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    div.image-layer {
      background-image: url(/images/top/pc-and-app.png);
      background-repeat: no-repeat;
      background-position: calc( (100% - 1160px)/2 + 780px ) 80px;
    }

    h1 {
      font-size: 28px;
    }

    .beta {
      margin-top: $grid;
      padding: 1px $grid*3;
      color: $accent-color;
      border: 3px double $accent-color;
      display: inline-block;
      font-size: 14px;
    }

    p.description {
      margin: $grid*6 0 $grid*6;
      color: #DDDDD5;
      .app_name {
        color: $text-color-w;
        font-size: 18px;
      }
    }

    p.notice {
      margin: $grid*38 0 $grid*12;
      color: $text-color-w-light;
    }
  }

  .feature {
    padding: $grid*12 0px;

    h2 {
      font-size: 30px;
      display:block;
      margin-bottom: $grid*8;
    }

    .step {
      margin: $grid*4 0 0 0;
      ul {
        margin-left: $grid*6;
      }
    }

    p.description {
      margin: $grid*4 0;

      b {
        color: $accent-color;
        a {
          color: $accent-color;
        }
      }
    }
    .boxes {
      display: flex;
      flex-direction: row;
      align-items: stretch;

      .box {
        flex-grow: 1;
      }
    }
    .boxes3 {
      .box {
        width: 30%;
        margin-right: 5%;
      }
      .box:nth-last-child(1) {
        margin-right: 0;
      }
    }
    .boxes2 {
      .box {
        width: 47%;
        margin-right: 6%;
      }
      .box:nth-last-child(1) {
        margin-right: 0;
      }
    }
    ul {
      color: $text-color;

      li {
        margin-top: $grid;
        line-height: 150%;
      }

      b {
        color: $accent-color;
        a {
          color: $accent-color;
        }
      }
    }
  }
  .feature:nth-child(odd) {
    background-color: $background-color-dark;
  }
  .system-trade {
    img.system-trade {
      border: 0px;
      padding: 0px;
      max-width: none;
      position:relative;
      left: -400px;
      z-index: -100;
    }
    .number {
      font-size: 28px;
      color: $primary-color;
      padding-right: $grid;
    }
  }

  .feature.mobile {
    color: #FFF;
    background-color: #00c4c5;
    background: linear-gradient(to left top,#00AFA6 0,#00BB88 100%);
    padding: 0px;

    .box {
      padding-top: 96px;
    }

    p.description {
      b {
        color: #FFF;
      }
    }

    .android_badge {
      padding: $grid*3;
      margin-top: $grid*6;
      background-color: rgba(30,30,30, 0.25);
      border-radius: 10px;

      img {
        width: 200px;
      }
      .info {
        margin-top: $grid*2;
        font-size: 14px;
      }
    }

    .usage {
      padding: $grid*3;
      background-color: rgba(30,30,30, 0.25);
      border-radius: 10px;
      li {
        margin-top: $grid;
      }
    }
    img.mobile {
      border: 0px;
      padding: 0px;
      max-width: none;
      position:relative;
      left:100px;
    }
  }

  .feature.cloud {

  }

  .closing {
    text-align: center;

    p.description {
      font-size: 20px;
    }
  }

  @include media-query($on-palm) {

    .first-hook {
      background-color: $primary-color;
      padding-top: $grid*8;

      background-image: none;

      p.notice {
        width: auto;
      }
    }

    .feature {
      padding: $grid*5 0px;

      h2 {
        font-size: 22px;
        display:block;
      }
      p.description {
        font-size: $small-font-size;
        margin: $grid*4 0;
      }
      .boxes {
        display: block;
        .box {
          width: auto;
          margin-bottom:  $grid*4;
        }
      }
      .boxes3 {
        .box {
          width: auto;
          margin-right: 0;
        }
      }
      .boxes2 {
        .box {
          width: auto;
          margin-right: 0;

          img.large {
            width: 300px;
            height: 225px;
          }
        }
      }
      ul {
        font-size: $small-font-size;
      }
    }
  }

}
