
.top {
  section {
    clear: both;
  }

  .first-hook {
    color: $text-color-w;
    background-color: $primary-color;
    padding-top: $grid*15;

    background-image: url(/images/top/top-image.png);
    background-repeat: no-repeat;
    background-position: calc( (100% - 1080px)/2 + 1080px );

    h1 {
      font-size: 28px;
    }
    p.description {
      margin: $grid*4 0 $grid*6;
    }

    p.notice {
      margin: $grid*6 0;
      border: 1px dotted $border-color;
      padding: $grid*2;
      font-size: $small-font-size;
      color: $text-color-w-light;
      width: 450px;

      b {
        color: $text-color-w;
      }
    }
  }

  .feature {
    padding: $grid*8 0px;

    h2 {
      font-size: 28px;
      display:block;
      margin-bottom: $grid*4;
    }
    p.description {
      margin: $grid*4 0;

      b {
        color: $accent-color;
        a {
          color: $accent-color;
        }
      }
    }
    .boxes {
      display: flex;
      flex-direction: row;
      align-items: stretch;

      .box {
        flex-grow: 1;
      }
      img, .image-box {
        display: block;
        background-color: #FFF;
        border: 1px solid $border-color-dark;
        padding: 1px;
        line-height: 0px;
        margin: $grid*2 auto;
      }
      .image-box {
        img {
          border: 0px;
        }
      }
    }
    .boxes3 {
      .box {
        width: 30%;
        margin-right: 5%;

        img {
          width: 300px;
          height: 300px;
        }
      }
      .box:nth-last-child(1) {
        margin-right: 0;
      }
    }
    .boxes2 {
      .box {
        width: 47%;
        margin-right: 6%;

        img {
          width: 300px;
          height: 300px;
        }
        img.large {
          width: 400px;
          height: 300px;
        }
        .image-box {
          width: 300px;
          height: 300px;

          img {
            width: 300px - 32px;
            height: 300px - 32px;
          }
        }
      }
      .box:nth-last-child(1) {
        margin-right: 0;
      }
    }
    ul {
      color: $text-color;

      li {
        margin-top: $grid;
        line-height: 150%;
      }

      b {
        color: $accent-color;
        a {
          color: $accent-color;
        }
      }
    }
  }
  .feature:nth-child(odd) {
    background-color: $background-color-dark;
  }

  .closing {
    text-align: center;

    p.description {
      font-size: 20px;
    }
  }

  @include media-query($on-palm) {
    .feature {
      padding: $grid*6 0px;

      h2 {
        font-size: 22px;
        display:block;
      }
      p.description {
        font-size: $small-font-size;
        margin: $grid*4 0;
      }
      .boxes {
        display: block;
        .box {
          width: auto;
          margin-bottom:  $grid*4;
        }
      }
      .boxes3 {
        .box {
          width: auto;
          margin-right: 0;
        }
      }
      .boxes2 {
        .box {
          width: auto;
          margin-right: 0;
        }
      }
      ul {
        font-size: $small-font-size;
      }
    }
  }

}
