article.post {

  .item {
    margin-top: $grid*2;
    font-weight: bold;
  }

  .basic_flow {
    .section {
      margin-top: $grid*5;
      a {
        color: $accent-color;
        font-size: 18px;
      }
    }

  }
}
