article.post {

  h3 {
    color: $accent-color;
    font-size: 20px;
    margin-top: $grid*8;
  }

  .item {
    margin-top: $grid*2;
    font-weight: bold;
  }

  .basic_flow {
    .section {
      margin-top: $grid*5;
      a {
        color: $accent-color;
        font-size: 18px;
      }
    }
  }
  .initialization {
    .step {
      margin: $grid*3 0px $grid 0px;
    }
  }
}
