article.usage {

  .item {
    margin-top: $grid*2;
    font-weight: bold;
  }

  .basic_flow {
    .section {
      margin-top: $grid*5;
      a {
        color: $accent-color;
        font-size: 18px;
      }
    }
  }

  .initialization {
    .step {
      margin: $grid*3 0px $grid 0px;
    }
  }

  .messaging {
    .ad {
      margin: $grid*4 0px 0px 0px;
      padding: $grid*3;
      background-color: $background-color-dark;

      h3 {
        margin: 0px 0px $grid*2 0px;
      }
    }
  }

  .samples {
    h3 {
      margin-top: $grid*5;
      font-size: 18px;

      a {
        color: $accent-color;
      }
    }
  }

}
