@import "../../colors.less";
@import "../../sizes.less";

.agent-source-editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: @grid*3;
  overflow: hidden;

  .header {
    margin-bottom: @grid*2;

    .error {
      word-break: break-all;
      margin: 0px;
      padding: 0px;
    }
  }

  .info {
    margin: 0px;
    font-size: @font-size-small;
    color: @font-color-light;
    padding-left: 1em;
  }

  .editor {
    flex-grow: 1;
  }

  .ace_editor .ace_text-layer, .ace_editor .ace_text-input {
    * {
      font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono',
        'Consolas', 'source-code-pro', monospace !important;
    }
  }
}
