
@primary-color-dark:    #2B5353;
@primary-color-normal:  #356868;
@primary-color-light:   #417E7E;

@accent-color-normal:   #00BFA5;
@accent-color-light:    #1DE9B6;

@font-color-vivid:      #444444;
@font-color-normal:     #666666;
@font-color-demilight:  #999999;
@font-color-light:      #AAAAAA;

@positive-color:        #339999;
@nagative-color:        #FF3333;

@background-color:      #FFFFFF;
@background-color-dark: #F0F0F0;
