
@primary-color-dark:    #2B5353;
@primary-color-normal:  #356868;
@primary-color-light:   #417E7E;

@accent-color-normal:   #00BFA5;
@accent-color-light:    #1DE9B6;

@font-color-vivid:      #444444;
@font-color-normal:     #666666;
@font-color-light:      #999999;
@font-color-superlight: #AAAAAA;

@positive-color:        @accent-color-normal;
@negative-color:        #F03950; //#FF3350;

@background-color:      #FFFFFF;
@background-color-dark: #F1F1F1;
@background-color-dark-alpha: rgba(128, 128, 128, 0.11);
@background-color-dark-alpha2: rgba(128, 128, 128, 0.22);

@border-color: #D3D3D3; //#E0E0E0;
@border-color-dark: #c0c0c0;

@shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);

@link-color:  #313d7a;
@visited-link-color:  #761d7a;

.up   { color: @positive-color }
.down { color: @negative-color }

a {
  color: @link-color
}
a:visited {
  color: @visited-link-color
}
