@import "../../colors.less";
@import "../../sizes.less";

.card {
  margin-bottom: @grid*2;

  .header {
    padding: @grid @grid @grid @grid*2;

    .title {
      display: inline-block;
      color: @font-color-light;
      font-size: @font-size-large;
      margin: @grid 0 @grid 0;
    }
  }

}
