@import "../../colors.less";
@import "../../sizes.less";

.radius {
  display: inline-block;
  border: 1px solid #FFF;
  font-size: @font-size-super-small;
  line-height:  @font-size-super-small+6;
  text-align: center;
  padding: 0px 12px;
  min-width: 32px;
  border-radius: @font-size-super-small+6;
}
