@import "../../colors.less";
@import "../../sizes.less";

.settings-page {

  padding: @grid*2;

  .card {
    padding: @grid*3;
  }

  .item {
    margin-bottom: @grid*10;
  }
  .item:nth-last-child(1) {
    margin-bottom: 0;
  }

}
