@import "../colors.less";
@import "../sizes.less";

.slider {
  .bar {
    position: relative;
    background-color: @background-color-dark-alpha;
    height: 30px;
    line-height: 0px;
    width: 300px;
  }
  .handle {
    cursor: pointer;
    position: relative;
    display: none;
    height: 30px;
    background-color: @accent-color-normal; //@primary-color-dark;
    background-size:  30px 30px;
    background-image: url('../images/chart-handle.gif');
  }
  .range {
    color: @font-color-light;
    margin-bottom: 4px;

    .label {
      font-size: @font-size-small;
      margin-right: @grid;
    }
  }
}
.chart {
  .loading {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

.card.mini-chart {
  .header {
    padding: 0px 8px 8px 16px;

    .icon {
      margin: 0px @grid @grid 0px;
      font-size: @font-size-large;
      color: @font-color-light;
      vertical-align: inherit;
    }
    .pair-selector {
      margin: 0px @grid*2 0px 0px;
    }

    .setting-menu {
      margin-top: @grid;
    }
  }
  .chart {
    position: relative;
    background-color: @background-color-dark;
    padding: @grid*2;
    margin-bottom: @grid*2;
  }
}

.rate-view {
  border-left: 4px solid #CCC;
  padding-left: @grid ;
  margin-bottom: @grid;
  color: @font-color-light;
  font-size: @font-size-normal;

  .time {
    margin-bottom: @grid/2;
  }
  .label {
    font-size: 11px;
    margin-right: @grid/2;
  }
  .value {
    margin-right: @grid;
  }

}

.chart-view {
  .menu {
    padding: @grid*2;
  }
  .chart {
    position: relative;
    background-color: @background-color-dark-alpha;
    padding: @grid*2;
  }
  .rate-view {
    margin-bottom: @grid * 2;
  }
  .slider-panel {
    margin-top: @grid*2;
    padding: 0 @grid*2 @grid*2 @grid*2;
  }
  .pair-selector {
    margin-right: @grid*2;
  }
}
