@import "../colors.less";
@import "../sizes.less";

.slider {
  .bar {
    position: relative;
    background-color: @background-color-dark;
    height: 30px;
    line-height: 0px;
    width: 300px;
  }
  .handle {
    position: relative;
    display: none;
    height: 30px;
    background-color: @primary-color-dark;
  }
  .range {
    font-size: @font-size-small;
    color: @font-color-light;
  }
}

.mini-chart {
  .header {
    margin: 0px @grid*2 @grid*2 @grid*2;
  }
  .chart {
    background-color: @background-color-dark;
    padding: 16px;
  }
}

.rate-view {
  border-left: 4px solid @border-color;
  padding-left: @grid ;
  margin-bottom: @grid;
  color: @font-color-light;
  font-size: @font-size-normal;

  .time {
    margin-bottom: @grid/2;
  }
  .label {
    font-size: 11px;
    margin-right: @grid/2;
  }
  .value {
    margin-right: @grid;
  }

}
