@import "../colors.less";
@import "../sizes.less";

@navi-width:   @grid * 36;

.topbar {
  width: 100%;
  height: 100px;

  background-color: @primary-color-dark;
  box-shadow: @shadow;
}

.container {
  width: 100%;
  float: right;
  margin-left: @navi-width * -1 ;
}

.content {
  position: relative;
  margin: 0 0 0 @navi-width;
  padding: @grid *2;
}

.left-navi {
  width: @navi-width;
  float: left;
  z-index: 100000;
}
