@import "../colors.less";
@import "../sizes.less";
@import "../mixins/layout.less";

@navi-width:   @grid * 36;

body {
  background-color: @background-color-dark-alpha2;
}

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.topbar {
  width: 100%;
  height: 80px;

  background-position:  -16px 0px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-color: @primary-color-normal;
  box-shadow: @shadow;

  .buttons {
    float: right;
    display: inline-block;
    margin: @grid*2 @grid*2;
  }
}

.container {
  .two-column-layout-parent(@navi-width)
}

.content {
  .two-column-layout-right(@navi-width)
}

.left-navi {
  .two-column-layout-left(@navi-width);
  min-width: @navi-width;
}
