@import "../colors.less";
@import "../sizes.less";

.left-navi {
  box-shadow: @shadow;

  .menu-icon {
    font-size:   24px;
  }
  .mui-menu-item {
    color:        @font-color-normal !important;
    font-size:    16px;
  }
  .mui-menu-item.mui-is-selected {
    color:            @accent-color-normal  !important;
    background-color: @background-color-dark !important;
    .menu-icon {
      color:            @accent-color-normal  !important;
    }
  }
  .mui-subheader {
    color:         @font-color-light;
    font-size:     14px;
    padding-left:  @grid*2;
    padding-right: @grid*2;
    line-height:   14px + (@grid*2*2);
    height:        auto;
  }
}
