@import "../../colors.less";
@import "../../sizes.less";

.backtest-list {
  padding: @grid*4;

  .top-button {
    padding: 0 0 @grid*4 0;
    border-bottom: 1px solid @border-color-dark;
    margin-bottom: @grid*2;

    .loading {
      margin-left: @grid*2;
    }
  }
}
