@import "../../colors.less";
@import "../../sizes.less";

.log-viewer {
  .menu {
    position: fixed;
    bottom: @grid*8;
    right: @grid;
    background-color: #FFF;
    padding: @grid*2;
    width: 40%;
    overflow: visible !important;

    .page-selector{
      display: inline-block;
      padding: 6px 0px 0px 6px;

      .separator {
        margin-right: @grid;
      }
    }

    .scroller {
      float: right;

      .scroller-buttons {
        margin-left: @grid;
      }
    }
  }

  .body {
    pre {
      margin: 0;
      background-color: #333;
      padding: @grid*2;
      font-size: @font-size-super-small;
      color: #EEE;
      min-height: 500px;
      white-space: pre-wrap;
    }
  }
}
